<center>
  <button class="btn btn-primary btn-lg"  > <%= link_to "Utilisateur",admin_users_path,:class =>'link'  %></button>
<button class="btn btn-primary btn-lg"  > <%= link_to "event",admin_event_submissions_all_path,:class =>'link'  %></button>
</center>